* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(5px); 

}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links li {
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    opacity: 0.9;
    position: relative;
}

.nav-links li:hover {
    opacity: 1;
    font-weight: 400;
}

.nav-links li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-links li:hover::after {
    width: 100%;
}

.language-switcher {
    margin-left: auto;
}

.auth-btn {
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin-left: 2rem;
    border: 1px solid white;
}

.auth-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hero-section {
    margin-top: 100px; 
    height: 100vh;
    background-image: url('/ruta/a/tu-imagen.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
